* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);

  font-size: 1.6rem;
  display: grid;
  place-items: center;
}

body, p, input, button {
  font-family: 'DM Sans', sans-serif;
}

main {
  width: min(42.8rem, 90%);
  background-color: #FFFFFF;
  padding: 4.8rem 6.4rem 6.4rem;

  box-shadow: 0px .2rem .4rem rgba(0, 0, 0, 0.1);
  border-radius: .6rem;

  margin-top: -12rem;

  text-align: center;
}

.hide {
 display: none;
}

/*screen 1 */
h1, p {
  color: #34355B;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

p {
  opacity: .8;
  margin-top: 1.6rem;
}

form {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

input, button {
  border: 0;
  padding: 1.6rem;
}

input {
  background: #DCE2E9;
  border-radius: .4rem 0 0 .4rem;
  font-size: 1.6rem;
  line-height: 2.1rem;

  color: #34355B;
}

input[type='number'] {
  -moz-appearance:textfield;
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  background: #7879F1;
  color: white;
  font-weight: 700;
  border-radius: 0 .4rem .4rem 0;

  cursor: pointer;
}

button:hover {
  background: #5252be;
}

/*screen2 */
h2 {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 400;
  margin-bottom: 3.3rem;
  color: #34355B;
}

.screen2 button {
  border-radius: .4rem;
}